@import url('../styles/chat.css');

.container-lg {
  background-color: red;
  height: 10%;
  width: 70%;
  margin-top: 5px;
}

.post-card {
  margin: 10px;
  height: 200px;
}

.all-posts {
  display: flex;
  flex-direction: column-reverse;
}